<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <form method="post" action="/select">
    <select id="advisor" name="advisor">
      <option value="Advisor 1 ">Advisor 1</option>
      <option value="Advisor 2 ">Advisor 2</option>
      <option value="Advisor 3 ">Advisor 3</option>
      <option value="Advisor 4 ">Advisor 4</option>
    </select>
    <input type="submit" value="Submit">
    <input type="submit" value="mks" formaction="/market_signal_impact">
  </form>
</body>
</html>